.mainWrapper {
  margin: 10px;
  width: calc(100% - 100px);
  max-height: 100%;

  .sectionHeader {
    padding: 40px 48px 40px 48px;

    .sectionTitle {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .sectionTitleCategory {
        .categoryName {
          opacity: 0.6;
        }
        span {
          font-size: 25px;
        }
      }
      .sectionControl {
        button {
          margin-right: 70px;
          background-color: transparent;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
  .contentsWrapper {
    display: flex;
    width: 100%;
    height: 1000px;
    padding: 5px;
    .contentsSide {
      width: 280px;
      padding-left: 48px;
      padding-right: 48px;
      .HorizontalLine {
        width: 160px;
        margin-bottom: 20px;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
      }
      .colors {
        display: flex;
        flex-direction: column;
        span {
          margin-bottom: 20px;
        }
        .colorLists {
          margin-left: 10px;
          display: flex;
          flex-wrap: wrap;
          .colorLayout {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 33%; // this will allow the color to span 1 third
            height: 80px;
            flex-shrink: 0; // this fill force the row to wrap every third element
            align-items: center; // this will help center the content
            justify-content: center; // this will also help center the content
            label {
              background-color: beige;
              border: 1px solid #ccc;
              border-radius: 50%;
              cursor: pointer;
              height: 28px;
              left: 0;
              position: absolute;
              top: 40;
              width: 28px;
              &:after {
                border: 2px solid #fff;
                border-top: none;
                border-right: none;
                content: '';
                height: 6px;
                left: 7px;
                opacity: 0;
                position: absolute;
                top: 8px;
                transform: rotate(-45deg);
                width: 12px;
              }
            }
            input[type='checkbox'] {
              visibility: hidden;
            }
            input[type='checkbox']:checked {
              & + label {
                background-color: beige;
                border-color: beige;
                &:after {
                  opacity: 1;
                }
              }
            }

            .productColor {
              margin-top: 70px;
              font-size: 13px;
              margin-right: 21px;
            }
          }
        }
      }
      .sizes {
        .HorizontalLine {
          margin-top: 25px;
        }
        .span {
        }
        .sizeLists {
          margin-top: 20px;
          margin-bottom: 20px;
          button {
            margin: 5px;
            width: 44px;
            height: 32px;
            background-color: white;
            border: 1px solid silver;
            border-radius: 15%;
          }
        }
      }
    }
    .contentsBody {
      width: 80%;
      max-height: 100%;
      padding-right: 5px;
      padding-top: 5px;

      .contentsLink {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        margin-left: 35%;
        button {
          width: 90px;
          height: 38px;
          margin: 10px;
          border-radius: 10%;
          border: none;
          background-color: silver;
        }
        span {
          font-size: 20px;
        }
      }
      .productsMapping {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        .productsContainer {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          .productLayout {
            display: flex;
            flex-direction: column;
            width: 100%;
            aspect-ratio: 10/15;

            margin: 5px;
            .productImage {
              width: 100%;
              height: 66.67%;
              img {
                object-fit: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
              }
            }
            .productInfo {
              display: flex;
              flex-direction: row;
              .productInfoDisplay {
                margin-top: 15px;
                .productStatus {
                  margin-bottom: 7px;
                  span {
                    color: orange;
                    opacity: 0.8;
                  }
                }
                .productName {
                  margin-bottom: 7px;
                }
                .productCategory {
                  margin-bottom: 7px;
                  opacity: 0.5;
                }
                .productColorChoices {
                  margin-bottom: 7px;
                  opacity: 0.5;
                }
              }
              .productPrice {
                margin-top: 15px;
                margin-left: 58.2%;
              }
            }
          }
        }
      }
    }
  }
}
