:root {
  --color-navy-900: #0a0d1c;
  --color-white: #ffffff;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexVerticalCenter {
  display: flex;
  align-items: center;
}

@mixin sectionDivider {
  &::after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    bottom: -5px;
    border-bottom: 1px solid #ddd;
  }
}
