@import '../../../styles/variables.scss';

.DetailInfo {
  width: 450px;
  padding: 0 54px 0 10px;

  .detailInfoWrap {
    div {
      margin: 40px 0;
      position: relative;
    }

    div:nth-child(1) {
      margin-top: 0;
    }
  }
}
