.Login {
  width: 70%;
  height: 80%;
  margin: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  .Logo {
    width: 300px;
    height: 30px;
    margin: 1rem auto;
  }

  .loginTitle {
    font-size: 2.5rem;
    line-height: 4rem;
    margin-bottom: 4rem;
  }

  .inputContainer {
    width: 500px;

    .inputWrap input {
      width: 100%;
      font-size: 18px;
      margin-bottom: 10px;
      padding: 10px 12px;
      border: 1px solid rgb(206, 206, 206);
      background-color: white;

      &:focus {
        outline: 1px solid black;
      }

      .id {
        margin-bottom: 10px;
      }
      .password {
        margin-bottom: 10px;
      }
    }

    .checkboxWrap input[type='checkbox'] {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      border: 0;
    }

    .checkboxWrap input[type='checkbox'] + label:before {
      content: ' ';
      display: inline-block;
      width: 18px;
      height: 18px;
      margin: -2px 8px 0 0;
      text-align: center;
      vertical-align: middle;
      background: white;
      border: 1px solid #cacece;
    }
    .checkboxWrap input[type='checkbox']:checked + label:before {
      content: '\2713';
      color: white;
      background: black;
      border-color: black;
    }
  }

  .inputBox {
    color: rgb(206, 206, 206);
    display: flex;
    justify-content: space-between;
  }

  .loginButton {
    width: 500px;
    padding: 12px 12px;
    margin: 6rem auto;
    font-size: 22px;
    color: white;
    font-weight: bolder;
    background-color: black;
    border: none;
    cursor: pointer;
  }

  button:hover {
    opacity: 0.5;
  }
}

.last {
  height: 80px;
  font-size: 20px;

  p {
    color: rgb(206, 206, 206);

    a {
      color: black;
      font-weight: bolder;
    }
  }
}
.checkingEmail {
  margin-bottom: 30px;
  color: red;
}
.checkingPwd {
  margin-bottom: 30px;
  color: red;
}
